# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env/

# Docker
bot.db
*.log

# Env config
.env
.env.*

# VSCode или IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

#DB
postgres_data/
*data.db
